.var-dumper {
    background: #000000;
    padding: 15px;
}

.var-dumper pre {
    font-family: Arial, serif;
    font-size: 11pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.var-dumper-quotes {
    color: #e76f0a;
}
.var-dumper-string {
    color: #11d911;
}
.var-dumper-count,
.var-dumper-int,
.var-dumper-float {
    color: #6698f8;
}