.vd {
    font-family: Arial, serif;
    font-size: 11pt;
    font-weight: normal;
    margin: 0;
    background: #000000;
    padding: 15px;
    color: #ffffff;
    line-height: 1.3;
    overflow-x: auto;
    border: 1px dashed #fffa1f;
}
.vd-quotes,
.vd-square {
    color: #e76f0a;
}
.vd-string {
    color: #11d911;
}
.vd-count,
.vd-int,
.vd-float {
    color: #9ac4ff;
}

.vd-null,
.vd-array,
.vd-callable,
.vd-object {
    color: #2e74ff;
}

.vd-bool {
    color: #e566f8;
}

.vd-arrow {
    color: #ffffff;
}

.vd-reflection {
    color: #fffa1f;
}

.vd-resource {
    color: #ff1f1f;
}

.vd-call-place {
    color: #fffa1f;
    margin-bottom: 10px;
    display: inline-block;
}

.vd-node {
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    margin: 7px 0 0 10px;
}

.vd-node.vd-expanded {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #ffffff transparent;
}

.vd-node.vd-collapsed {
    border-width: 5px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
}

.vd-dots {
    color: #ffffff;
    cursor: pointer;
}

.vd-dots.vd-expanded {
    display: none;
}

.vd-dots.vd-collapsed {
    display: inline;
}

.vd-container-open {
    display: inline;
}

.vd-container-close {
    display: none;
}
